on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        target_type:
          - server
          - client
    steps:
      - uses: actions/checkout@v6

      - uses: xmake-io/github-action-setup-xmake@v1
        # with:
        #   xmake-version: branch@master

      - uses: actions/cache@v5
        with:
          path: |
            ~/AppData/Local/.xmake
          key: xmake-${{ hashFiles('xmake.lua') }}
          restore-keys: |
            xmake-

      - run: |
          xmake repo -u

      - run: |
          xmake f -a x64 -m release -p windows --target_type=${{ matrix.target_type }} -y

      - run: |
          xmake -w -y

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event.repository.name }}-${{ github.sha }}-${{ matrix.target_type }}-windows-x64
          path: |
            bin/

  upload-to-sentry:
    needs: build
    strategy:
      matrix:
        target_type:
          - server
          - client
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: matbour/setup-sentry-cli@v1
        with:
          token: ${{ SECRETS.SENTRY_TOKEN }}
          organization: ${{ SECRETS.SENTRY_ORG }}
          project: ${{ SECRETS.SENTRY_PROJECT }}

      - uses: actions/download-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-${{ github.sha }}-${{ matrix.target_type }}-windows-x64
          path: artifact

      - run: |
          sentry-cli debug-files upload --include-sources artifact

  update-release-notes:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v3

      - uses: softprops/action-gh-release@v2
        with:
          body: |
            ${{ steps.extract-release-notes.outputs.release_notes }}

  upload-to-release:
    needs:
      - build
      - update-release-notes
    permissions:
      contents: write
    strategy:
      matrix:
        target_type:
          - server
          - client
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: ${{ github.event.repository.name }}-${{ github.sha }}-${{ matrix.target_type }}-windows-x64
          path: artifact

      - run: |
          cp CHANGELOG.md LICENSE README.md artifact/

      - run: |
          zip -r ../${{ github.event.repository.name }}-${{ matrix.target_type }}-windows-x64.zip *
        working-directory: artifact

      - uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ github.event.repository.name }}-${{ matrix.target_type }}-windows-x64.zip
